%%-*- mode: erlang -*-

{
  deps,
  [
   {webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
   {poolboy,".*",{git,"git://github.com/devinus/poolboy.git", "master"}},
   {epgsql,"1.4.*",{git,"git://github.com/wg/epgsql.git", "HEAD"}},
   {eredis,"1.*",{git,"git://github.com/wooga/eredis.git"}}
  ]
}.
